networkx==2.4; python_version < '3.7'
networkx==3.1; python_version > '3.6'
flask==1.1.2; python_version < '3.7'
flask==3.0.3; python_version > '3.6'
matplotlib==3.2.1; python_version < '3.7'
matplotlib==3.7.5; python_version > '3.6'
scipy==1.4.1; python_version < '3.7'
scipy==1.10.1; python_version > '3.6'
simplejson==3.17.0; python_version < '3.7'
simplejson==3.19.3; python_version > '3.6'
python-igraph==0.8.2; python_version < '3.7'
python-igraph==0.11.8; python_version > '3.6'
